{% extends "::base.html.twig" %}

{% block title %}Formulaire d'Ajout!{% endblock %}
{% block body %}
<div class="container" style="">
<h1>Formulaire d'enregistrement</h1>

{{form(form)}}
</div>

{% endblock %}
